rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Reglas para la colección universal de descubrimientos
    match /discoveries/{discoveryId} {
      allow read, write: if true;
    }

    // Reglas para perfiles de usuario
    match /users/{userId} {
      allow read: if true;
      allow write: if request.auth != null && request.auth.uid == userId;
    }
  }
}
